#jumbotronheader {
    text-align: center;
    height: 10px;
}

.jumbotron {
    margin: 0px;
}

.container{
    padding-top: 20px;
}

.row{
    padding-top: 20px;
}

#changingPicture{
    float: right;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;

}

table, th, td {
    border: 0.5px groove;
    font-size: large;
}

tr, th {
    padding: 5px 20px 5px 20px;
}

.card{
    margin-bottom: 15px;
    margin-top: 15px;

}

h2{
    text-align: center;
}

#ITpeople{
    margin-bottom: 30px;
}


img:hover{
    opacity: 0.6;
    transition: 0.3s;

}

img{
    padding-bottom: 5px;
}

#pictureAndDescription{
    padding-top: 30px;
    font-size: large;
}

#listOfSkills{
    font-size: large;
}

#ITpeople {
    font-size: large;
}
